@model PM.Web.Administration.Task.CreateTaskViewModel

@using (Ajax.BeginForm("Create", "Task", new { area = "Administration" },
    new AjaxOptions()
    {
        HttpMethod = "POST",
        OnSuccess = "Ajax.onSuccess(data, 'tasks-list', true);",
        OnFailure = "Ajax.onError",
        LoadingElementId = "loader"
    }, null))
{
    @Html.AntiForgeryToken()
    
    @Html.HiddenFor(vm => vm.ProjectId)

    <div class="modal fade" id="new-task-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <!-- MODAL HEADER -->
                <div class="modal-header modal-header-success">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add New Task</h4>
                </div>

                <!-- MODAL BODY -->
                <div class="modal-body">
                    <div class="create-task">

                        <div class="form-group">
                            @Html.LabelFor(vm => vm.Title, "Title")
                            @Html.TextBoxFor(vm => vm.Title, new { @class = "form-control", placeholder = "Enter task title" })
                            @Html.ValidationMessageFor(p => p.Title)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(vm => vm.Description, "Description")
                            @Html.TextAreaFor(vm => vm.Description, new { @class = "form-control", placeholder = "Enter task description", rows = 4 })
                            @Html.ValidationMessageFor(p => p.Description)
                        </div>

                        <!-- DROPDOWNS -->
                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(vm => vm.AssignedToUserId, "Assigne to")
                                    @Html.DropDownListFor(vm => vm.AssignedToUserId, new SelectList(ViewBag.ProjectUsers, "Key", "Value"), new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(vm => vm.PriorityId, "Priority")
                                    @Html.DropDownListFor(vm => vm.PriorityId, new SelectList(ViewBag.PriorityList, "Key", "Value"), new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(vm => vm.DueDate, "Dou Date")
                                    @Html.TextBoxFor(vm => vm.DueDate, "{0:dd/MM/yyyy}", new { @class = "form-control", id = "due-date", placeholder = "dd/mm/yyyy" })
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- MODAL FOOTER -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Create Task</button>
                </div>

            </div>
        </div>
    </div>
}

