@model PM.Web.Administration.Task.CreateTaskViewModel

@{
    ViewBag.Title = "NewTask";
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
}

<header class="head">
    <div class="search-bar">
        <form class="main-search" action="">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Live Search ...">
                <span class="input-group-btn">
                    <button class="btn btn-primary btn-sm text-muted" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
    <div class="main-bar row">
        <div class="col-md-6">
            <h3><i class="fa fa-dashboard"></i>&nbsp; Project Name</h3>
        </div>
    </div>
</header>

@Html.Partial("_LeftMenuBar", @Model.ProjectId)

<div class="right-content">
    <div class="main-outer">
        <div class="main-inner">

            @using (Html.BeginForm("New", "Task", new { area = "Administration" }, FormMethod.Post, new { @class= "" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(vm => vm.CreatedByUserId)
                @Html.HiddenFor(vm => vm.ProjectId)

                <div class="form-group">
                    @Html.LabelFor(vm => vm.Title, "Title", new { @class = "control-label" })
                    @Html.TextBoxFor(vm => vm.Title, new { @class = "form-control" })
                </div>
                
                <br />

                <div class="form-group">
                    @Html.LabelFor(vm => vm.Description, "Description", new { @class = "control-label" })
                    @Html.TextAreaFor(vm => vm.Description, new { @class = "form-control", rows="8" })
                </div>
                <br />

                <div class="col-md-4 form-group">
                    @Html.LabelFor(vm => vm.PriorityId, "Priority", new { @class = "control-label" })
                    @Html.DropDownListFor(vm => vm.PriorityId, Model.PriorityList, new { @class="form-control" })
                </div>

                <div class="col-md-4 form-group">
                    @Html.LabelFor(vm => vm.StatusId, "Status", new { @class = "control-label" })
                    @Html.DropDownListFor(vm => vm.StatusId, Model.StatusList, new { @class = "form-control" })
                </div>

                <div class="col-md-4 form-group">
                    @Html.LabelFor(vm => vm.AssignedToUserId, "Assigne To", new { @class = "control-label" })
                    <select class="form-control">
                        <option>Priority 1</option>
                        <option>Priority 2</option>
                    </select>
                </div>

                <br />


                <button id="save" class="btn btn-success">Save</button>
                <button id="cancel" class="btn btn-info">Cancel</button>
            }


        </div>
    </div>
</div>