@model PM.Web.Administration.Project.OverviewViewModel

@{
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Overview";
}

<!-- LEFT MENU -->
@Html.Partial("_LeftMenuBar", (Guid)ViewBag.ProjectId)

<!-- PAGE -->
<div class="page">

    <div class="page-content-header">

        <span class="breadcrumbs">
            @Html.ActionLink("Home", "Index", "Dashboard", null, null) /
            <span>@Model.Project.Name</span>
        </span>

    </div>

    <div class="page-content">

        <!-- Profile widget -->
        <div class="col-lg-3">
            <div class="widget">
                <div class="block-project">
                    <span>@Model.Project.Name</span>
                    
                </div>
                <div class="block-project-chart">
                    <canvas id="myChart"></canvas>
                </div>


                <div class="block block-profile-footer">
                    <div class="row text-center">
                        <div class="col-xs-4">
                            <!--<i class="glyphicon glyphicon-briefcase"></i>-->
                            <h3>@Model.Project.TaskCount</h3>
                            <h5>Tasks</h5>
                        </div>
                        <div class="col-xs-4">
                            <!--<i class="glyphicon glyphicon-tag"></i>-->
                            <h3>@Model.Project.CompletedTaskCount</h3>
                            <h5>Completed</h5>
                        </div>
                        <div class="col-xs-4 profile-late">
                            <!--<i class="glyphicon glyphicon-tag"></i>-->
                            <h3>@Model.Project.LateTaskCount</h3>
                            <h5>Late</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-9">
            <div class="widget profile-activity">
                <ul class="nav nav-tabs nav-tabs-line" data-plugin="nav-tabs" role="tablist">

                    <li class="active" role="presentation">
                        <a data-toggle="tab" href="#activities" aria-expanded="true">Activities</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="activities" role="tabpanel">

                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="row">

                                    <div class="col-xs-10">
                                        <i class="glyphicon glyphicon-tag activity-icon color-general"></i>John Doe has updated your role.
                                    </div>
                                    <div class="col-xs-2">
                                        11:45
                                    </div>

                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-xs-10">
                                        <i class="glyphicon glyphicon-flag activity-icon color-info"></i>You have completed task #4567.
                                    </div>
                                    <div class="col-xs-2">
                                        Yesterday
                                    </div>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="row">

                                    <div class="col-xs-10">
                                        <i class="glyphicon glyphicon-bell activity-icon color-warning"></i>John Doe has updated the status of a task: #236 to: in progress.
                                    </div>
                                    <div class="col-xs-2">
                                        Yesterday
                                    </div>

                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-xs-10">
                                        <i class="glyphicon glyphicon-flash activity-icon color-alert"></i>John Doe has sent a new message to you.
                                    </div>
                                    <div class="col-xs-2">
                                        Friday
                                    </div>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-xs-10">
                                        <i class="glyphicon glyphicon-flash activity-icon color-alert"></i>John Doe has assigned task #546 to you.
                                    </div>
                                    <div class="col-xs-2">
                                        Monday
                                    </div>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-xs-10">
                                        <i class="glyphicon glyphicon-flag activity-icon color-info"></i>You have completed task #4679.
                                    </div>
                                    <div class="col-xs-2">
                                        Monday
                                    </div>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-xs-10">
                                        <i class="glyphicon glyphicon-flag activity-icon color-info"></i>You have completed task #4699.
                                    </div>
                                    <div class="col-xs-2">
                                        Last Week
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>

                </div>
            </div>
        </div>

    </div>

</div>

@section Scripts
{
    @Scripts.Render("~/bundles/chart/js")

    <script>

        var completedTasks = @Json.Encode(Model.Project.CompletedTaskCount);
        var lateTasks = @Json.Encode(Model.Project.LateTaskCount);
        var totalTasks = @Json.Encode(Model.Project.TaskCount);
        var todoTasks = totalTasks - completedTasks - lateTasks;

        var ctx = document.getElementById("myChart");
        if (totalTasks === 0) {

            var myPieChart = new Chart(ctx,{
                type: 'pie',
                data: {
                    labels: [""],
                    datasets: [{
                        data: [1],
                        backgroundColor: [
                            '#36c6d3'
                        ]

                    }]
                },
                options: {
                    legend: {
                        display: false,
                    },
                    tooltips: {
                        enabled: false
                    }
                }
            });
        } else {
            var myPieChart = new Chart(ctx,{
                type: 'pie',
                data: {
                    labels: ["Completed", "ToDo", "Late"],
                    datasets: [{
                        label: '# of Votes',
                        data: [completedTasks, todoTasks, lateTasks],
                        backgroundColor: [
                            '#36c6d3',
                            '#bac3d0',
                            '#ed6b75'
                        ]

                    }]
                },
                options: {
                    legend: {
                        display: false,
                    }
                }
            });
        }

        

    </script>
}
