@model IPagedList<PM.Web.Administration.Project.ProjectPreviewViewModel>
@using PagedList.Mvc
@using PagedList

@using GravatarHelper.Extensions

@if (Model != null)
{
    foreach (var project in Model)
    {
        <div class="col-md-3">
            <div class="widget">
                <div class="block-project">
                    <a href="@Url.Action("Overview", "Project", new { area = "Administration", pId = PM.Common.ShortGuid.Encode(project.Id) })" class="profile-link"><span>@project.Name</span></a>
                </div>
                <div class="block block-team text-center">
                    <ul>
                        @if (project.TeamMembers != null && project.TeamMembers.Count() > 0)
                        {
                            foreach (var user in project.TeamMembers)
                            {
                                <li>@Html.Gravatar(user.Email, 60, GravatarHelper.Common.GravatarHelper.DefaultImageMysteryMan, new { @class = "img-avatar img-sm", title = user.UserName })</li>
                            }
                        }
                        else
                        {
                            <li></li>
                        }
                        
                    </ul>
                </div>

                <div class="block block-profile-footer">
                    <div class="row text-center">
                        <div class="col-xs-4">
                            <a href="javascript:void(0);" class="profile-link">
                                <h3>@project.TaskCount</h3>
                                <h5>Tasks</h5>
                            </a>
                        </div>
                        <div class="col-xs-4">
                            <a href="javascript:void(0);" class="profile-link">
                                <h3>@project.CompletedTaskCount</h3>
                                <h5>Completed</h5>
                            </a>
                        </div>
                        <div class="col-xs-4">
                            <a href="javascript:void(0);" class="profile-link profile-late">
                                <h3>@project.LateTaskCount</h3>
                                <h5>Late</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="widget-footer">
        @Html.PagedListPager(Model, page => Url.Action("ProjectsList", "Project", new { area = "Administration", page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
           new AjaxOptions()
           {
               HttpMethod = "GET",
               UpdateTargetId = "projects-list",
               InsertionMode = InsertionMode.Replace
           }))
    </div>
}
else
{
    <p>Project list is 'null'</p>
}


