@model CreateProjectViewModel

@{
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "New Project";
}


<header class="head">
    <div class="search-bar">
        <form class="main-search" action="">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Live Search ...">
                <span class="input-group-btn">
                    <button class="btn btn-primary btn-sm text-muted" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
    <div class="main-bar row">
        <div class="col-md-6">
            <h3><i class="fa fa-dashboard"></i>&nbsp; @ViewBag.Title</h3>
        </div>
    </div>
</header>

@Html.Partial("_LeftMenuBar")

<div class="right-content">
    <div class="main-outer">
        <div class="main-inner">

            @using (Html.BeginForm("NewProject", "Project", FormMethod.Post, new { @class = "" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.LabelFor(vm => vm.Name, "Name", new { @class = "col-sm-2 col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(vm => vm.Name, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(vm => vm.Description, "Description", new { @class = "col-sm-2 col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(vm => vm.Description, new { @class = "form-control" })
                    </div>
                </div>

                <button type="submit" class="btn btn-theme">Create</button>
                @Html.ActionLink("Cancel", "Projects", "Project", new { area = "Administration" }, new { @class = "btn btn-warning" })
            }

        </div>
    </div>
</div>
           
