@model IList<ProjectViewModel>
@{
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Projects";
}



<div class="row mt">
    <div class="col-lg-12">

        <div class="form-panel">

            <div class="form-horizontal style-form">
                
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Latest Update</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var project in Model)
                        {
                            <tr>
                                <td>@project.Name</td>
                                <td>@project.Description</td>
                                <td>@project.DateUpdated</td>
                                <td>
                                    @Html.ActionLink("Open", "Project", "Project", new { area = "Administration", projectId = project.Id }, null)
                                </td>
                            </tr>
                        }                       
                    </tbody>
                </table>

                @Html.ActionLink("New Project", "NewProject", "Project", new { area = "Administration" }, new { @class = "btn btn-theme03" })

            </div>

        </div>
    </div>
</div>





