@model PM.Web.Models.RegisterViewModel

@Styles.Render("~/Content/bootstrap/css")
@Styles.Render("~/Content/site-style/css")


<body>
    <!-- PAGE -->
    <div class="col-md-3 col-centered">
        <div class="widget">
            <div class="block-login">

                <div class="login-header">
                    <h3>Activate Account</h3>
                </div>

                <div class="login-body">

                    @using (Html.BeginForm("ActivateAccount", "Security", FormMethod.Post, new { }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Username", required = "", type = "text", disabled = "disabled" })
                            @Html.HiddenFor(m => m.UserName)
                        </div>

                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", required = "", placeholder = "Email", type = "email", disabled = "disabled" })
                            @Html.HiddenFor(m => m.Email)
                        </div>

                        <div class="form-group">
                            @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control", placeholder = "Company Name", required = "", type = "text", disabled = "disabled" })
                            @Html.HiddenFor(m => m.CompanyName)
                        </div>

                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "Password", required = "", type = "password" })
                        </div>

                        <div class="form-group">
                            @Html.TextBoxFor(m => m.RepatePassword, new { @class = "form-control", required = "", placeholder = "Confirm Password", type = "password" })
                        </div>

                        <br />
                      
                        <button type="submit" class="btn btn-block btn-success">Confirm</button>
                        
                    }

                </div>
            </div>
        </div>
    </div>
</body>
