@model PM.Web.Models.LoginViewModel

@Styles.Render("~/Content/bootstrap/css")
@Styles.Render("~/Content/site-style/css")

<body>

    <!-- PAGE -->
    <div class="col-md-3 col-centered">
        <div class="widget">
             <div class="block-login">
                 <div class="login-header">
                    <h3>Sign In to PM</h3>
                 </div>
               
                 <div class="login-body">
                     @using (Html.BeginForm("Login", "Security", FormMethod.Post, new { }))
                     {
                         @Html.AntiForgeryToken()

                        <div class="form-group">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control top", placeholder = "Username", required = "Username is required", type = "text" })
                        </div>

                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "Password", required = "Password is required", type = "password" })
                        </div>

                        <br />
                        <div class="form-group">
                            <input id="rememberMe" type="checkbox">
                            <label for="rememberMe">Remember me</label>
                        </div>

                        <button type="submit" class="btn btn-block btn-success">Login</button>

                        <br />
                        <span>Don't have an account? @Html.ActionLink("Sign Up", "Register", null, new { @class = "" })</span>
                     }
                </div>
            </div>
        </div>
    </div>
</body>