@model PM.Web.Models.LoginViewModel

@Styles.Render("~/Content/bootstrap/css")
@Styles.Render("~/Content/site-style/css")

<body class="login">
    <div class="form-signin">
        <div class="text-center">
            <img src="~/Content/img/logo.png" alt="Metis Logo">
        </div>
        <hr />

        @using (Html.BeginForm("Login", "Security", FormMethod.Post, new { }))
        {
            @Html.AntiForgeryToken()
            <p class="text-muted text-center">
                Enter your username and password
            </p>

            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control top", placeholder = "username", required = "", type="text" })
            @Html.TextBoxFor(m => m.Password, new { @class = "form-control bottom", placeholder = "password", required = "", type="password" })

            <div class="checkbox">
                <label>
                    <input type="checkbox"> Remember Me
                </label>
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

            <hr>

            <div class="text-center">
                <ul class="list-inline">
                    <li><a class="text-muted" href="#forgot">Forgot Password</a></li>
                    <li>@Html.ActionLink("Signup", "Register", null, new { @class = "text-muted" })</li>
                </ul>
            </div>
        }

    </div>
</body>