@model PM.Web.Models.RegisterViewModel

@Styles.Render("~/Content/bootstrap/css")
@Styles.Render("~/Content/site-style/css")


<body class="login">
    <div class="form-signin">
        <div class="text-center">
            <img src="~/Content/img/logo.png" alt="Metis Logo">
        </div>
        <hr />

        @using (Html.BeginForm("Register", "Security", FormMethod.Post, new { }))
        {
            @Html.AntiForgeryToken()
           
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control top", placeholder = "username", required = "", type="text" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control middle", required = "", placeholder = "mail@domain.com", type="email" })
            @Html.TextBoxFor(m => m.Password, new { @class = "form-control middle", placeholder = "password", required = "", type="password" })
            @Html.TextBoxFor(m => m.RepatePassword, new { @class = "form-control bottom", required = "", placeholder = "re-password", type="password" })

            <button class="btn btn-lg btn-success btn-block" type="submit">Register</button>
            <hr>
            <div class="text-center">
                <ul class="list-inline">
                    <li><a class="text-muted" href="#forgot">Forgot Password</a></li>
                    <li>@Html.ActionLink("Login", "Login", null, new { @class = "text-muted" })</li>
                </ul>
            </div>
        }

    </div>
</body>
