@model PM.Web.Models.RegisterViewModel

@Styles.Render("~/Content/bootstrap/css")
@Styles.Render("~/Content/theme/css")

<body style="background:#F7F7F7;">
    
    <div class="">
        <div id="wrapper">
            <div id="login" class="animate form">
                <section class="login_content">
                    @using (Html.BeginForm("Register", "Security", FormMethod.Post, new {  }))
                    {
                        @Html.AntiForgeryToken();
                        <h1>Registration Form</h1>
                        <div>
                            @*<input type="text" class="form-control" placeholder="First name" required="">*@
                        </div>
                        <div>
                            @*<input type="text" class="form-control" placeholder="Last name" required="">*@
                        </div>
                        <div>
                            <input type="text" class="form-control" placeholder="Username" required="">
                            @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control " })
                        </div>
                        <div>
                            <input type="text" class="form-control" placeholder="Email" required="">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control " })
                        </div>
                        <div>
                            <input type="password" class="form-control" placeholder="Password" required="">
                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control " })
                        </div>
                        <div>
                            @*<input type="password" class="form-control" placeholder="Repeat password" required="">*@
                        </div>
                        <div>
                            <button type="submit" class="btn btn-default submit" href="index.html">Register</button>

                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">

                            <p class="change_link">
                                Already have an account?
                                <a href="#" class=""> Log In </a>
                            </p>
                            <div class="clearfix"></div>
                            <br>
                            <div>
                                <h1><i class="fa fa-paw" style="font-size: 26px;"></i> Project Managment</h1>

                                <p>©2015 All Rights Reserved. Privacy and Terms</p>
                            </div>
                        </div>
                    }
                    <!-- form -->
                </section>
                <!-- content -->
            </div>

        </div>
    </div>

</body>